/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

body, ul, li, h1, h2, h3, h4, h5, h6, div, p {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

::-moz-selection {
	background: #E06D26;
	color: white;
	text-shadow: none;
}

::selection {
	background: #E06D26;
	color: white;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

a {
	text-decoration: none;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
	font-size: 16px;
	line-height: 26px;
	font-family: 'Open Sans', sans-serif;
}

.wrapper {
	width: 90%;
	margin: 0 5%;
}

/* ===================
	ALL: Orange Theme
   =================== */



.footer-container,
.main aside {
}

.header-container,
.footer-container,
.main aside {
	background: rgba(255,255,255,1);
}

.header-container {
	background: rgba(51,51,51,.9);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
	z-index: 1000;
}

.title {
	color: white;
}

/* ==============
	MOBILE: Menu
   ============== */

#logo-container {
	margin-left: 50px;
	display: block;
	float: left;
}

#logo {
	display: table-cell;
	vertical-align: middle;
}

#logo img {
	height: 50px;
	margin-top: 13px;
}

#logo h1 {
	display: inline-block;
	margin: 0;
}

nav#main-nav {
	padding: 0;
	display: none;
}

.menu-btn {
	float: right;
	font-size: 2em;
	color: #fff;
	padding: 21px;
}


nav#main-nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav#main-nav li {

}

nav#main-nav a {
	display: block;
	margin-bottom: 10px;
	padding: 15px 0;

	text-align: center;
	text-decoration: none;
	font-weight: normal;
	font-size: 14px;
	text-transform: uppercase;

	color: #ffffff;
	letter-spacing: 2px;
	
}

nav#main-nav a:hover,
nav#main-nav a:visited {
	color: #fff;

}

nav#main-nav a:hover {

}

/* ==============
	MOBILE: Billboard
   ============== */

.billboard {
	background-position: center center;
	background-size: cover;
	height: 400px;
	width: 100%;
	text-align: center;
}

.billboard-content {
	margin: 0 auto;
	padding-top: 125px;
}

.billboard-content h1 {
	font-size: 2.5em;
	line-height: 125%;

	color: white;
	text-shadow: 2px 2px 5px rgba(0,0,0,.5);
}

.billboard-content h2 {
	display: inline-block;
	padding: 10px 15px;
	margin-top: 10px;

	font-weight: normal;
	font-size: 1em;

	color: white;
	text-shadow: 2px 2px 5px rgba(0,0,0,.5);
	background-color: rgba(0,0,0,.6);
}



/* ==============
	MOBILE: Main
   ============== */

.main {
	padding: 30px 0;
}

.main article h1 {
	font-size: 2em;
}

.main aside {
	color: white;
	padding: 0px 5% 10px;
}

.page-title {
	max-width: 800px;
	font-family: 'Roboto Condensed';
	font-size: 2.3em;
	line-height: 125%;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.image-tile {
	width: 100%;
	border: 1px solid #ddd;
	margin-bottom: 20px;
	margin-right: 30px;
	float: left;
}

.image-tile img {
	margin: 0 auto;
	display: block;

}

.tile-caption {
	padding: 10px;
	border-top: 1px solid #999;
}

/* ===============
	ALL: IE Fixes
   =============== */

.ie7 .title {
	padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==============
	MOBILE: Callout Section
   ============== */
section.callout {
	padding: 100px 25px;
	text-align: center;
	background-color: #fff;
}

.section-header {
	max-width: 800px;
	margin: 0 auto;

	font-family: 'Roboto Condensed';
	font-size: 2.3em;
	line-height: 125%;
	font-weight: normal;

	text-transform: uppercase;
}

h4 {
	color: #E06D26;
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 2px;
	margin-bottom: 10px;
}

.callout p {
	max-width: 700px;
	margin: 0 auto;
	margin-top: 15px;
	font-weight: lighter;
}

/* ==============
	MOBILE: Showcase Section
   ============== */
.showcase {
	width: 100%;
}

.showcase article {
	width: 100%;
	float: left;
	height: 200px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.showcase .hover-panel {
	height: 100%;
	width: 100%;
	padding: 20px;

	color: white;
}

.hover-panel-inner {
	background-color: rgba(0,0,0,.75);
	height: 100%;
	width: 100%;
	border: 1px solid white;
}

.hover-panel-content {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

.hover-panel-content h4 {
	font-weight: normal;
	font-size: .9em;
}

/* ==============
	MOBILE: Clients Section
   ============== */

section#client-section h4 {
	margin-bottom: 40px;
}

.client-panel {
	width: 50%;
	float: left;
	margin-bottom: 10px;
	padding: 5px 5px;
}

.client-panel-content {
	background-color: #ddd;
}

.client-panel-content img {
	width: 60%;
	padding: 40px 0;
}

/* ====================
	MOBILE: Section - Image
   ==================== */
section.image img{
	width: 100%;
}

/* ====================
	MOBILE: Footer
   ==================== */

.footer-container {
	background-color: #333;
	padding: 30px 30px;
	color: white;
	margin-top: 40px;
}

footer {
	margin: 0 50px;
	text-align: center;
}

.footer-container section {
	display: inline-block;
}

div.footer-contact {
	color: white;
	width: 65%;
	display: inline-block;
}

footer section {
	width: 100%;
	padding: 20px 0;
}

footer p {
	font-weight: lighter;
}

.footer-container h3 {
	font-family: 'Roboto Condensed';
	font-weight: normal;
	font-size: 1.4em;
}

.footer-block-body {
	margin: 10px 0;
}

#footer-connect {
	vertical-align: top;
	margin: 0;
}

footer input {
	padding: 5px;
	width: 70%;
	border: none;
}

.submit-btn {
	display: inline-block;
	padding: 2px 6px;
	margin-left: -5px;

	background-color: transparent;
	border: 1px solid white;
}

#bottom-bar {
	background-color: #111;
	color: #999;
	font-size: 12px;
	padding: 10px 70px;
}

#bottom-bar div {
	display: inline-block;
}

/* ====================
	MOBILE: Blog
   ==================== */
#post-image {
	width: 100%;
	height: 400px;
	background-position: center center;
	background-size: cover;
	position: relative;
	margin-bottom: 50px;
}

#post-title {
	position: absolute;
	bottom: 30px;
	left: 10%;
	width: 80%;
	max-width: 1024px;
	display: inline-block;
}

.post-wrapper {
	width: 80%;
	margin: 0 auto;
	max-width: 900px;
}

#post-title h1 {
	font-family: 'Roboto Condensed';
	font-size: 2em;
	line-height: 150%;
	font-weight: normal;
	text-transform: uppercase;
	color: white;
	background-color: rgba(0,0,0,.7);
	display: inline;
	padding: 5px;
}

.post-wrapper p {
	margin-bottom: 20px;
}

.post-details {
	display: inline-block;
	margin-bottom: 20px;
	color: #999;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: ;
	font-family: 'Roboto Condensed'
}

p.quote {
	text-align: center;
	font-family: 'Roboto Condensed';
	font-size: 2em;
	font-style: italic;
	line-height: 125%;

	padding: 30px;

	border-left: 3px solid #E06D26;

	margin: 50px auto;
	max-width: 720px;
	background-color: #f1f1f1;
}

.author-block {
	border:1px solid #ddd;
	padding: 20px;
	box-shadow: 2px 2px 5px #ddd;
	width: 80%;
	margin: 50px auto;
	max-width: 700px;
}

.author-block div {
	display: inline-block;
}

.author-image {
	width: 100%;
	text-align: center;
	padding: 20px 0;
}

.author-bio {
	width: 100%;
}

.author-image img {
	border-radius: 70px;
	width: 130px;
	border: 1px solid #ddd;
	display: inline-block;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 600px) {

/* ====================
	INTERMEDIATE: Footer
   ==================== */
   .footer-container section {
   	width: 33%;
   }

@media only screen and (min-width: 768px) {

/* ====================
	INTERMEDIATE: Menu
   ==================== */
	.menu-btn {
		display: none;
	}

	#logo-container {
		float: left;
	}

	#nav-container {
		float: right;
	}

	nav#main-nav {
		display: table-cell;
		vertical-align: middle;

	}

	nav#main-nav a {
		padding: 20px 0 25px 0;
		margin: 0 15px;
		display: inline-block;
		border-top: 4px solid transparent;
		transition: all .4s;
	}

	nav#main-nav a:hover {
		border-top: 4px solid #E06D26;
	}

	nav#main-nav a.active {
		border-top: 4px solid #E06D26;
	}


/* ========================
	INTERMEDIATE: IE Fixes
   ======================== */

	nav ul li {
		display: inline;
	}

	.oldie nav a {
		margin: 0 0.7%;
	}

/* ==============
	INTERMEDIATE: Billboard
   ============== */

	.billboard, .billboard-content {
		height: 600px;
	}

	.billboard-content {
		padding-top: 200px;
	}

	.billboard-content h1 {
		font-size: 4.5em;
	}

	.billboard-content h2 {
		font-size: 1.5em;
	}

/* ==============
	INTERMEDIATE: Callout Section
   ============== */
	

/* ==============
	INTERMEDIATE: Showcase Section
   ============== */

	.showcase article {
		width: 50%;
		height: 300px;
   }

/* ==============
	INTERMEDIATE: Clients Section
   ============== */

	section#client-section h4 {
		margin-bottom: 40px;
	}

	.client-panel {
		width: 25%;
		padding: 10px 10px;
	}

	.client-panel-content img {
		padding: 50px 0;
	}

/* ==============
	INTERMEDIATE: Footer
   ============== */
	.footer-container {
		background-color: #333;
		padding: 30px 30px;
		color: white;
	}

	footer {
		margin: 0 50px;
	}

	.footer-container section {
		display: inline-block;
	}

	div.footer-contact {
		color: white;
		width: 65%;
		display: inline-block;
	}

	footer section {
		width: 33.333%;
	}

	footer p {
		font-weight: lighter;
	}

	.footer-container h3 {
		font-family: 'Roboto Condensed';
		font-weight: normal;
		font-size: 1.4em
	}

	.footer-block-body {
		margin: 10px 0;
	}

	#footer-connect {
		vertical-align: top;
		margin: 0;
	}

	footer input {
		padding: 5px;
		width: 70%;
		border: none;
	}

	.submit-btn {
		display: inline-block;
		padding: 2px 6px;
		margin-left: -5px;

		background-color: transparent;
		border: 1px solid white;
	}

	#post-title h1 {
		font-size: 2.5em;
	}

	.author-image {
		width: 25%;
		text-align: center;
		float: left;
		padding: 0;

	}

	.author-bio {
		width: 75%;
		float: left;
		padding-left: 40px;
	}

	.image-tile {
		width: 50%;
	}



@media only screen and (min-width: 768px) {

/* ====================
	WIDE: CSS3 Effects
   ==================== */


/* ============
	WIDE: Menu
   ============ */

	.title {
		float: left;
	}

/* ============
	WIDE: Main
   ============ */

	.main article {
		float: left;
		width: 57%;
	}

	.main aside {
		float: right;
		width: 28%;
	}
}

@media only screen and (min-width: 1024px) {
	
	.showcase article {
		width: 33.3333%;
	}

	.client-panel {
		padding: 10px 10px;
	}
	.client-panel-content img {
	width: 60%;
	padding: 60px 0;
   }


/* ===============
	Maximal Width
   =============== */

	.wrapper {
		width: 1024px; /* 1140px - 10% for margins */
		margin: 0 auto;
	}
}

@media only screen and (min-width: 1130px) {
	#post-title {
		width: 900px;
		left: 50%;
		margin-left: -450px;
	}
}}}}}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
	display: none !important;
	visibility: hidden;
}

.visible {
	display: block !important;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}